<form method="POST" enctype="multipart/form-data">

<h2>Application Form</h2>

<h3>Basic Details</h3>

Name:
<input type="text" name="name" required><br><br>

Gender:
<input type="radio" name="gender" value="Male" required> Male
<input type="radio" name="gender" value="Female"> Female<br><br>

DOB:
<input type="date" name="dob"><br><br>

Age:
<input type="number" name="age"><br><br>

Upload Photo:
<input type="file" name="photo" required><br><br>

<hr>

<h3>Present Address</h3>

House No:
<input type="text" name="present_house_no"><br><br>

House Name:
<input type="text" name="present_house_name"><br><br>

Locality:
<input type="text" name="present_locality"><br><br>

Post Office:
<input type="text" name="present_post_office"><br><br>

Pincode:
<input type="text" name="present_pincode"><br><br>

District:
<input type="text" name="present_district"><br><br>

<hr>

<h3>Personal Details</h3>

Father Name:
<input type="text" name="father_name"><br><br>

Category:
<select name="category">
<option>General</option>
<option>OBC</option>
<option>SC</option>
<option>ST</option>
</select>

<br><br>
<button type="submit">Submit Application</button>

</form>